@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,300;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background:black url(./images/background.png);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
    position:relative;
}

.logo{
    color: white;
    font-family: inherit    ;
    font: 700 sans-serif;
    letter-spacing: 2px;
    font-size: 2.3rem;
    opacity: .8;
    padding: 20px 0;
    cursor: pointer;
}
.content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}
.content h1{
    font-size: 64px;
    font-weight: 500;
}
.content h1 span{
    color: #ff3753;
}
.content button{
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    padding: 12px 25px;
    cursor:pointer;
    color: #fff;
    display: flex;
    margin-top: 1.6rem;
    align-items: center;
}
.content button img{
    width: 15px;
    margin-left: 10px;
}
.launch-time{
    display: flex;
}
.launch-time div{
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}
.launch-time div p{
    font-size: 60px;
    margin-bottom:-14px;
}
.container .rocket{
   width: 250px;
   position: absolute;
   bottom: -100px;
   right: -80%;
   animation: rocket 4s linear infinite;
}
@keyframes rocket {
    0%{
        bottom: -200px;
        opacity: 0;
    }
    100%{
        bottom: 205%;
        opacity: 1;
    }
}

@media  (max-width:500px) {
    .container{

    }
    .content h1{
        line-height: 134%;
        font-weight: 600;
        font-size: 40px;
        margin-bottom: 1rem;
    }
    .launch-time div p{
        font-size: 40px;
    }

}